<form id="newPost" method="POST">
  <div class="form-group mt-2">
    <label for="title">Title</label>
    <input id="postTitle" type="text" value="{{title}}" class="form-control" name="title" required />
  </div>
  <div class="form-group mt-4">
    <label for="description">Description</label>
    <input id="postDes" type="text" value="{{content}}" class="form-control" name="title" required />
  </div>
</form>
<button id="editPost">Edit</button>

<button id="deletePost">Delete</button>



<script src="/js/edit.js"></script>