<div class="wrapper">
  <div class="logo"> <img src="/img/logo-removebg-preview.png" alt=""> </div>
  <div class="text-center mt-4 name"> LOGIN </div>
  <form class="p-3 mt-3 login-form">
    <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text"
        name="userName" id="username-login" placeholder="Username"> </div>
    <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password"
        name="password" id="password-login" placeholder="Password"> </div> <button class="btn mt-3">LOGIN</button>
  </form>
  <div class="text-center fs-6"> <a class="login-link" href="/signup">Don't have an account ? Register Here</a> </div>
</div>

<script src="/js/login.js"></script>