<div class="wrapper">
  <div class="logo"> <img src="/img/logo-removebg-preview.png" alt=""> </div>
  <div class="text-center mt-4 name"> REGISTER </div>
  <form class="p-3 mt-3 signup-form">
    <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text"
        name="userName" id="name-signup" placeholder="Name"> </div>
    <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="email"
        name="email" id="username-signup" placeholder="Username"> </div>
    <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password"
        name="password" id="password-signup" placeholder="Password"> </div> <button class="btn mt-3">REGISTER</button>
  </form>
  <div class="text-center fs-6"> <a class="login-link" href="/login">Already have an account ? Log In</a> </div>
</div>


<script src="/js/signup.js"></script>